flows (1).json
[{"id":"9d568c31.7b49b","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"e9cb3b31.4b3818","type":"watson-conversation-v1","z":"9d568c31.7b49b","name":"","workspaceid":"f0b35807-acf9-4f98-a9dc-c6dc755c1e4b","multiuser":false,"context":false,"empty-payload":true,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":320,"y":80,"wires":[["c278b600.e51c68","53f58375.86d8dc"]]},{"id":"c278b600.e51c68","type":"debug","z":"9d568c31.7b49b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":60,"wires":[]},{"id":"53f58375.86d8dc","type":"function","z":"9d568c31.7b49b","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["c778f973.f77fc8"]]},{"id":"612049e1.f94838","type":"ui_form","z":"9d568c31.7b49b","name":"","label":"","group":"e9592d95.07f8e","order":1,"width":15,"height":1,"options":[{"label":"Type Something...","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":90,"y":240,"wires":[["3ff7063.51478fa"]]},{"id":"3ff7063.51478fa","type":"function","z":"9d568c31.7b49b","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":240,"wires":[["7d58ca3f.922cd4","e9cb3b31.4b3818"]]},{"id":"7d58ca3f.922cd4","type":"ui_text","z":"9d568c31.7b49b","group":"e9592d95.07f8e","order":4,"width":7,"height":1,"name":"","label":"Input: ","format":"{{msg.payload}}","layout":"row-left","x":390,"y":300,"wires":[]},{"id":"c778f973.f77fc8","type":"ui_text","z":"9d568c31.7b49b","group":"e9592d95.07f8e","order":8,"width":7,"height":1,"name":"","label":"Response: ","format":"{{msg.payload}}","layout":"row-left","x":630,"y":240,"wires":[]},{"id":"e911096.898adf8","type":"inject","z":"9d568c31.7b49b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Devi","payloadType":"str","x":120,"y":40,"wires":[["e9cb3b31.4b3818"]]},{"id":"8d068f4f.f10b","type":"ui_dropdown","z":"9d568c31.7b49b","name":"","label":"","tooltip":"","place":"Select option","group":"3ba2e81c.3895d8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":320,"wires":[[]]},{"id":"e9592d95.07f8e","type":"ui_group","name":"User Input","tab":"5312b77c.efc2b8","order":1,"disp":true,"width":"15","collapse":false},{"id":"3ba2e81c.3895d8","type":"ui_group","name":"SPEECH TO TEXT","tab":"4ff3a2dd.929d4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5312b77c.efc2b8","type":"ui_tab","name":"AnuragBot","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ff3a2dd.929d4c","type":"ui_tab","name":"CONVERTED","icon":"dashboard","disabled":false,"hidden":false}]